spring:
  application:
    name: backend
  
  profiles:
    active: dev

  mail:
    host: smtp.gmail.com
    port: 587
    username: karthikeyantesting1@gmail.com
    password: qanz rbuv azyb irqr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


jwt:
  secret: "J!IO@EY@*#(j(@*#E(*@U#98@e@*@(&U#@Eeu!U@!@2uW)(!u98u1:"
